<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players</title>
</head>
<body>
<header class="head">
    <div class="container">
        <div class="header-body">
            <div class="logo">Dab Football</div>
            <div class="links">
                <div class="head-element"><a class="link" th:href="@{index}">Главная</a></div>
                <div class="head-element"><a class="link" th:href="@{teams}">Команды</a></div>
            </div>
        </div>
    </div>
</header>
<main class="container">




</main>


</body>
</html>
