<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
</head>
<body>
    <header class="head">
        <div class="container">
            <div class="header-body">
                <div class="logo"><a class="link" th:href="@{index}">Dab Football</a></div>
                <div class="links">
                    <div class="head-element"><a class="link" th:href="@{teams}">Команды</a></div>
                </div>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="players">
            <div class="main-title">Наши игроки</div>
                <a class="button" href="/cards/create-card">Создать карточку</a>

                <form  class="card"  th:each="card:${cards}">
                    <img src="/img/img.jpeg" width="200px" height="200px">
                    <div class="info">
                        <div class="grade" >Полное имя: <div th:text="${card.getFull_name()}"></div></div>
                        <div class="grade">Зар.плата: <div th:text="${card.getSalary()}"></div></div>
                        <div class="grade" >Дата рождения: <div th:text="${card.getDob()}"></div></div>
                        <div class="grade" >Стаж игры: <div th:text="${card.getPlay_exp()}"></div></div>
                        <div class="grade" >Команда: <div th:text="${card.getTeam()}"></div></div>
                        <div class="grade buttons">
                            <a class="button" th:href="@{/cards/edit/{card_id} (card_id =${card.getCard_id()})}">Редактировать</a>
                            <a class="button red" th:href="@{/cards/delete/{card_id} (card_id =${card.getCard_id()})}">Удалить</a>


                        </div>
                    </div>
                </form>
                <div class="card">
                    <img src="/img/img.jpeg" width="200px" height="200px">
                    <div class="info">
                        <div class="grade">Полное имя: -- </div>
                        <div class="grade">Дата рождения:-- </div>
                        <div class="grade">Зарплата: --</div>
                        <div class="grade">Стаж игры:-- </div>
                        <div class="grade">Команда:-- </div>
                        <div class="grade buttons">
                            <button class="button " type="submit">Редактировать</button>
                            <button class="button red" type="submit">Удалить</button>
                        </div>
                    </div>
                </div>
        </div>
    </main>
    

</body>
</html>
