<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../css/style2.css">
  <meta charset="UTF-8">
  <title>Create-team</title>
</head>
<body>
<header class="head">
  <div class="container">
    <div class="header-body">
      <div class="logo">Dab Football</div>
      <div class="links">
        <div class="head-element"><a class="link" href="/index">Главная</a></div>
        <div class="head-element"><a class="link" href="/cards">Игроки</a></div>
        <div class="head-element"><a class="link" href="/teams">Команды</a></div>
      </div>
    </div>
  </div>
</header>
<main class="container">
  <form method="post" action="/cards/edit/{card_id}" class="modal" th:each="card:${cards}" >
    <div class="modal-cont">
      <div class="modal-window">
        <div class="item">Редактировать карточку</div>
<!--
        <span th:text="${card.getCard_id()}" name="team_id"></span>
-->
        <input class="input" type="number" name="card_id" th:value="${card.getCard_id()}">
        <input class="input" type="text" name="full_name" th:value="${card.getFull_name()}">
        <input class="input" type="text" name="salary" th:value="${card.getSalary()}">
        <input class="input" type="date" name="dob" th:value="${card.getDob()}">
        <input class="input" type="number" name="play_exp" th:value="${card.getPlay_exp()}">
        <input class="input" type="text" name="team" th:value="${card.getTeam()}">
        <!--  <input  type="file" size="20px"accept="image/x-png">-->
        <div class="grade button">
          <button class="button" type="submit">Редактировать</button>
          <button class="button red"><a  href="/cards"> Отменить</a></button>
        </div>

      </div>
    </div>
  </form>
</main>


</body>
</html>
